@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-primary {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .............shared styles & color............... */
.dis-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
   color: #424242; 
}
.dark-3{
    color: #727272;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}


/* remove list styles */
.nav-lists{
    list-style: none;
}

/* remove anchor underline */
.nav-lists, a{
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

/* added margin between links */
.nav-list{
    margin-right: 30px;
}

/* navbar & banner align */
.navbar,.banner-container{
    max-width: 1140px;
    margin: 0 auto;
}
.main{
    /* border: 5px solid lightseagreen; */
    max-width: 1140px;
    margin: 0 auto;
}


.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.nav-title{
    font-size: 2.81rem ;
    font-weight: bold;
}
.nav-anchor{
    font-size: 1.125rem;
    font-weight: 500px;
}
/* style banner title */
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-des{
    font-size: 1rem;
}
/* button primary */
.btn-primary{
    background-color: #FF900E;
    color:#FFFFFF;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;

}
/* banner image adjust with align */
.banner-image{
    width: 100%;
}
.team-images{
    /* border: 3px solid blue; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.features{
    /* border: 3px solid sienna; */
    max-width: 1318px;
    margin: 0 auto;
    align-items: center; 
    margin-top: 85px;
    margin-bottom: 130px; 
}
.our-feature{
    max-width: 537px;
    margin: 0 auto;
    margin-left: 73px;

}

.feature-title{
    font-size: 2.81rem;
    font-weight: bold;
}
#fe-ti-1{
    color: #727272 ;
    font-weight: 500;
}
#fe-ti-2{
    color: #FF900E;
}
.feature-des{
    margin-top: 24px;
    margin-bottom: 32px;
}

/* some facts section */
.facts-title{
    font-size: 2.81rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.facts-container{
    max-width: 1390px;
    margin: 0px auto;
    /* background-color: skyblue; */
    margin-bottom: 180px;
}
.fac-boxs{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width:241px;
    height: 241px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.box-parent{
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
   
}
.fac-value{
    font-size: 2.81rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fac-para{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 0px;
}
.facts-des {
    max-width:542px ;
}



/* media query for small devices-576px */
@media screen and (max-width:576px) {

    .navbar, .nav-lists,.features {
        flex-direction: column;
    }
    .banner-title{
        font-size: 2rem;
        font-weight: bold;
    }
    .nav-title{
        font-size: 1.5rem ;
        font-weight: bold;
    }
    .team-images{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 15px;
        text-align: center;
    }
    .feature-title{
        font-size: 1.5rem;
    }
}

/* media query  for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .features{
        flex-direction: column;
        align-self: center;
    }
}




